
.vs/aplicativoMergeGit/FileContentIndex/f8ee4ac8-82dc-4e08-9590-9790ff7b81f6.vsidx
.vs/aplicativoMergeGit/FileContentIndex/read.lock
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/aplicativoMergeGit.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/aplicativoMergeGit/FileContentIndex/66384fdc-6ab2-4c02-be2a-2381e044c794.vsidx
.vs/aplicativoMergeGit/v17/.suo
.vs/aplicativoMergeGit/FileContentIndex/3a1aa706-5850-4368-b4bb-10bd06589b2a.vsidx
.vs/aplicativoMergeGit/FileContentIndex/57740609-dc94-48de-b3e8-29399c877d35.vsidx
obj/Debug/aplicativoMergeGit.csproj.CoreCompileInputs.cache
obj/Debug/aplicativoMergeGit.csproj.FileListAbsolute.txt
obj/Debug/aplicativoMergeGit.csproj.GenerateResource.cache
obj/Debug/aplicativoMergeGit.csproj.SuggestedBindingRedirects.cache
obj/Debug/aplicativoMergeGit.exe
obj/Debug/aplicativoMergeGit.Form1.resources
obj/Debug/aplicativoMergeGit.frmFormularioA.resources
obj/Debug/aplicativoMergeGit.pdb
obj/Debug/aplicativoMergeGit.Properties.Resources.resources
bin/Debug/aplicativoMergeGit.exe
bin/Debug/aplicativoMergeGit.exe.config
bin/Debug/aplicativoMergeGit.pdb
.vs/aplicativoMergeGit/FileContentIndex/8eb12141-f0df-4ce7-a420-a0d48d4a03ea.vsidx
