
.vs/aplicativoMergeGit/FileContentIndex/f8ee4ac8-82dc-4e08-9590-9790ff7b81f6.vsidx
.vs/aplicativoMergeGit/FileContentIndex/read.lock
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/aplicativoMergeGit.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/aplicativoMergeGit/FileContentIndex/66384fdc-6ab2-4c02-be2a-2381e044c794.vsidx
.vs/aplicativoMergeGit/v17/.suo
.vs/aplicativoMergeGit/FileContentIndex/3a1aa706-5850-4368-b4bb-10bd06589b2a.vsidx
.vs/aplicativoMergeGit/FileContentIndex/57740609-dc94-48de-b3e8-29399c877d35.vsidx
obj/Debug/aplicativoMergeGit.csproj.CoreCompileInputs.cache
obj/Debug/aplicativoMergeGit.csproj.FileListAbsolute.txt
obj/Debug/aplicativoMergeGit.csproj.GenerateResource.cache
obj/Debug/aplicativoMergeGit.csproj.SuggestedBindingRedirects.cache
obj/Debug/aplicativoMergeGit.exe
obj/Debug/aplicativoMergeGit.Form1.resources
obj/Debug/aplicativoMergeGit.frmFormularioA.resources
obj/Debug/aplicativoMergeGit.pdb
obj/Debug/aplicativoMergeGit.Properties.Resources.resources
bin/Debug/aplicativoMergeGit.exe
bin/Debug/aplicativoMergeGit.exe.config
bin/Debug/aplicativoMergeGit.pdb
.vs/aplicativoMergeGit/FileContentIndex/8eb12141-f0df-4ce7-a420-a0d48d4a03ea.vsidx
.vs/aplicativoMergeGit/FileContentIndex/fff7cfcb-b403-4d9a-9914-5360bcfe8229.vsidx
.vs/aplicativoMergeGit/FileContentIndex/813d8ae1-1334-45f5-89fb-eaecadb6583a.vsidx
.vs/aplicativoMergeGit/FileContentIndex/a42ad649-5e43-40fb-88bb-ae1ca758331e.vsidx
.vs/aplicativoMergeGit/FileContentIndex/fd989f53-6738-4951-bd2e-6e1598670028.vsidx
.vs/aplicativoMergeGit/FileContentIndex/5eb570af-ebc4-4716-bfa5-668eefd1090d.vsidx
.vs/aplicativoMergeGit/FileContentIndex/2e5c9534-7564-4464-8f6f-30ef204f626d.vsidx
.vs/aplicativoMergeGit/FileContentIndex/e06e58cf-742a-4719-9c34-7e9ce74364d3.vsidx
.vs/aplicativoMergeGit/FileContentIndex/5b3f479c-1183-4bdb-a540-12ff24a4a730.vsidx
