
.vs/aplicativoMergeGit/FileContentIndex/f8ee4ac8-82dc-4e08-9590-9790ff7b81f6.vsidx
.vs/aplicativoMergeGit/FileContentIndex/read.lock
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/aplicativoMergeGit.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/aplicativoMergeGit/FileContentIndex/66384fdc-6ab2-4c02-be2a-2381e044c794.vsidx
.vs/aplicativoMergeGit/v17/.suo
